## Manipulando Missing Values c Pandas

In [25]:
import pandas as pd
import numpy as np

In [26]:
df = pd.read_csv("diabetes.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [27]:
df.describe() #infos estatísticas de cada variável

#o que tiver de 0 eu vou transformar em registros NaN

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [28]:
df.isnull().sum() 
#verificar que variáveis têm registros nulos
#0 não é nulo, mas transformarei em nulos

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [32]:
(df[['Pregnancies','Glucose','BloodPressure','SkinThickness',
    'Insulin','BMI','DiabetesPedigreeFunction','Age','Outcome']]==0).sum()

#filtrei todos os atributos c valor igual a 0 e fazer a conta para cada

Pregnancies                 111
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                     500
dtype: int64

In [33]:
df = df[['Pregnancies','Glucose','BloodPressure','SkinThickness',
    'Insulin','BMI']].replace(0,np.NAN) #outcome n foi pickado pq é categórico

#todos c valor 0 serão substituídos por NAN

In [34]:
df.isnull().sum()

Pregnancies      111
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

### Tratando os registros Missing

Excluir registros

#### Excluir todos os registros que têm pelo menos um NAN em algum atributo

In [35]:
df2 = df.dropna() 

#dropna sem parametros excluir toda linha que tem dado NAN
#independente se outro atributo n tem NAN
#perigoso pq excluir muita coisa

In [36]:
df2.isnull().sum()

Pregnancies      0
Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
dtype: int64

#### Excluindo os registros que contém EM TODOS os atributos dados NAN

In [37]:
df2 = df_diabetes.dropna(how="all") #especifica um parâmetro no dropna

In [38]:
df2.isnull().sum()

Pregnancies      111
Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

#### Preenchendo registros faltantes

In [39]:
df["SkinThickness"].head(10) #selecionei atributo qualquer

0    35.0
1    29.0
2     NaN
3    23.0
4    35.0
5     NaN
6    32.0
7     NaN
8    45.0
9     NaN
Name: SkinThickness, dtype: float64

In [40]:
df_diabetes["SkinThickness"].fillna(0).head(10) #preencher com 0

0    35.0
1    29.0
2     0.0
3    23.0
4    35.0
5     0.0
6    32.0
7     0.0
8    45.0
9     0.0
Name: SkinThickness, dtype: float64

#### Preenchendo os registros faltantes com os valores da média/moda/mediana

In [41]:
media = df["SkinThickness"].mean()
print(media)

29.153419593345657

In [43]:
df["SkinThickness"].fillna(media).head(10) 
#preencher o atributo NAN ou 0 c a média
#valor média daquele atributo

0    35.00000
1    29.00000
2    29.15342
3    23.00000
4    35.00000
5    29.15342
6    32.00000
7    29.15342
8    45.00000
9    29.15342
Name: SkinThickness, dtype: float64

In [44]:
mode = df["SkinThickness"].mode()
print(mode)

0    32.0
dtype: float64

In [45]:
df["SkinThickness"].fillna(int(mode)).head(10)

0    35.0
1    29.0
2    32.0
3    23.0
4    35.0
5    32.0
6    32.0
7    32.0
8    45.0
9    32.0
Name: SkinThickness, dtype: float64

In [47]:
median = df["SkinThickness"].median()
print(median)

29.0

In [48]:
df["SkinThickness"].fillna(median).head(10)

0    35.0
1    29.0
2    29.0
3    23.0
4    35.0
5    29.0
6    32.0
7    29.0
8    45.0
9    29.0
Name: SkinThickness, dtype: float64

### Preenchendo com valores diferentes cada atributo do DF

In [49]:
preenchimento = {'SkinThickness':media,
                 'Insulin':df["Insulin"].median(),
                "Glucose":0} #dicionário

In [50]:
df.fillna(value=preenchimento).isnull().sum()

# Através do value que eu quero especificar os determinados val p cada um dos atributos

Pregnancies      111
Glucose            0
BloodPressure     35
SkinThickness      0
Insulin            0
BMI               11
dtype: int64

### Preenchendo registros faltantes por propagação de valores
                    ###  Forward e Backward

In [51]:
df["SkinThickness"].head(10)

0    35.0
1    29.0
2     NaN
3    23.0
4    35.0
5     NaN
6    32.0
7     NaN
8    45.0
9     NaN
Name: SkinThickness, dtype: float64

In [52]:
df["SkinThickness"].fillna(method='ffill').head(10)

#ffill faz alteração através do registro válido anterior

0    35.0
1    29.0
2    29.0
3    23.0
4    35.0
5    35.0
6    32.0
7    32.0
8    45.0
9    45.0
Name: SkinThickness, dtype: float64

In [53]:
df["SkinThickness"].fillna(method='bfill').head(10)

#ffill faz alteração através do registro válido posterior

0    35.0
1    29.0
2    23.0
3    23.0
4    35.0
5    32.0
6    32.0
7    45.0
8    45.0
9    23.0
Name: SkinThickness, dtype: float64

### Preenchendo registros faltantes utilizando o Inputer (Sklearn)

In [56]:
from sklearn.impute import SimpleImputer

In [57]:
imp = SimpleImputer(missing_values=np.nan, strategy="mean")

# Instanciar a classe SImpleImputer
# missing = NAN

In [61]:
df["SkinThickness2"] = imp.fit_transform(df[["SkinThickness"]])

#imp traz a funçao 
#fit transform p aprender a partir dos dados e fzer a transformação

In [62]:
df[["SkinThickness","SkinThickness2"]].head(10)

#substituiu pela média

   SkinThickness  SkinThickness2
0           35.0        35.00000
1           29.0        29.00000
2            NaN        29.15342
3           23.0        23.00000
4           35.0        35.00000
5            NaN        29.15342
6           32.0        32.00000
7            NaN        29.15342
8           45.0        45.00000
9            NaN        29.15342